<header>
    <img id="logo" src="https://i.pinimg.com/originals/b8/7e/68/b87e68c40e73919cb1a66e88458a4d79.png">
    <h1>The Sandwich Shop</h1>
</header>
<div class="container">
    <div class="item">
    <img [src]="item1.imageUrl">
    <h4>{{item1.name}}</h4>
</div>
<div class="item">
    <img [src]="item2.imageUrl">
    <h4>{{item2.name}}</h4>
</div>
<div class="item">
    <img [src]="item3.imageUrl">
    <h4>{{item3.name}}</h4>
</div>
</div>


<!-- Must use "json-server --watch items.json" in command prompt terminal to see items -->